p {
    font-size: 1.5vw;
}

button {
    opacity: .2;
}

#headline {
    border: 1px solid grey;
    border-top: none;
}

#weatherMap {
    border: 1px solid grey;
}

.konami {
    background-color: yellow;
    background-image: url("../img/ynfsLL7.jpg");
    background-size: 100%;
    color: #FFF!important;
}

.konami-footer {
    color: #000;
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

